.blognav {
  display: flex;
  grid-row: 4/5;
  gap: 2rem;
  justify-self: center;
  grid-column: 2/4;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.blogNavBtn {
  padding: 1rem;
  place-content: center;
  text-align: center;
  background-color: var(--black);
  color: var(--offwhite);
  font-size: 1.25rem;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  transition-duration: 0.3s;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  column-gap: 1rem;
}

.blogNavBtn:hover, .blogNavBtn:active {
  cursor: pointer;
  color: var(--black);
  background-color: var(--yellow);
}

[rel="prev"], [rel="next"] {
  text-decoration: none;
}


.blogTitle,
.blogDate {
  font-family: var(--zilla);
}

.blogBody {
  font-family: var(--lato);
}

.blogCard {
  grid-column: 1/5;
  grid-row: 2/4;
  margin: 3rem;
}

/* https://codepen.io/ambiva/pen/bGNWwyg */
