.hero {
  border-radius: 16%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  object-fit:cover;
  padding: 0;
  width: 100%;
  justify-self: center;
  align-self: center;
  grid-row: 1;
}

.heroLink {
  justify-self: flex-start ;
  grid-row: 1;
  grid-column: 1;
}

@media (max-width: 425px) {
  .hero .heroLink {
    height: 3rem;
  }
}
