footer {
  font-family: var(--zilla);
  grid-row: 5;
  grid-column: 1/5;
  align-self: flex-end;
  position: relative;
  text-align: center;
  justify-self: center;
  height: min-content;
  color: var(--blue);
  margin-bottom: 0.5rem;
}

.fbIcon {
  color: var(--offwhite);
  font-size: 2rem;
}

@media (maxWidth: 480px){
  .footer {
    font-size: .5rem;
  }
}


.globalWrapper {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content 50vh auto max-content;
  background-color: var(--black);
  color: white;
  font-family: var(--lato);
  justify-self: center;
  width: 100vw;
  height: 100vh;
}
