footer {
  font-family: var(--zilla);
  width: 100%;
  grid-row: 5/6;
  grid-column: 1/5;
  text-align: center;
  position: relative;
  height: auto;
  color: var(--black);
  padding-bottom: .5rem;
  margin-top: auto;
  bottom: 0;
  background-color: var(--offwhite);
}

.fbIcon {
  color: var(--black);
  font-size: 2rem;
}

@media (maxWidth: 480px){
  .footer {
    font-size: .5rem;
  }
}


.globalWrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content 1fr auto;
  background-color: var(--offwhite);
  color: var(--black);
  font-family: var(--lato);
  justify-self: center;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  overflow-x: hidden;
}
