.featuredCard {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: .5rem;
  border-radius: 5px;
  border: none;
  grid-template-rows: auto auto;
  grid-row: 3;
  place-self: center;
  grid-column: 2/4;
  box-shadow: -10px 10px 0 -3px var(--black), -10px 10px var(--yellow);
}

@media (max-width: 480px) {
  .featuredCard{
    grid-column: 1/5;
  }
}

.featuredTitle {
  text-decoration: none;
  color: var(--yellow);
  font-family: var(--zilla);
  font-size: 2rem;
  margin: 0;
}

.featuredDate {
  margin: 0;
}