
/* .facts {
  grid-column: 3/4;
  grid-row: 2/4;
  border-radius: 5px;
  box-shadow: -10px 10px 0 -3px var(--black), -10px 10px var(--red);
  padding: 1.75rem 0 0 1rem;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  font-size: 1.2rem;
  color: var(--offwhite);
} */

/* .facts li {
  margin-bottom: .5rem;
} */



.aboutContainer {
  grid-column: 1/5;
  grid-row: 4/5;
  margin-right: 12.5%;
  margin-left: 12.5%;
}

.historyText {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}
/* 
@media (max-width: 982px) {
  .sidebar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 2fr auto;
  };
  .facts {
    grid-column: 1/4;
    grid-row: 3/4;
  };
  .aboutHeader {
    grid-column: 1/4;
  }
} */
