.about {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.bigText {
  font-size: 3rem;
  grid-row: 2;
  grid-column: 2/4;
  z-index: 12;
  font-weight: 300;
  place-self: center;
  text-align: center;
  text-shadow: 2px 2px 5px var(--black);
  margin: 0;
}
.smallText {
  place-self: center;
  font-weight: 100;
  text-align: center;
  grid-row: 2;
  grid-column: 2/4;
  z-index: 12;
  font-size: 1.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border-width: 2px;
  background-color: var(--black);
  color: var(--offwhite);
  border-color: var(--offwhite);
  border-style: solid;
  padding: 1rem;
  box-shadow: 
  /* 19px 19px 0px #222222, */
   -15px -15px 0px ;
}

.brief {
  grid-column: 3/5;
  grid-row: 3;
  place-self: center;
  text-align: center;
}

.overlay {
  grid-row: 2;
  grid-column: 1/5;
  background-color: var(--black);
  opacity: 30%;
  z-index: 10;
}
