.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, minmax(100px, auto));
  background-color: var(--black);
  color: white;
  font-family: var(--lato);
  justify-self: center;
  width: 100vw;
}

.heroImage {
  display: grid;
  justify-items: center;
  grid-column: 4/7;
  grid-row: 2/3;

}

.slider {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.about {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: 3;
  grid-column: 3/8;
}

.btnRow {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  justify-content:space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 2rem;
  overflow: hidden;
  width: 100%;
}
