.hero {
  display: inline-grid;
  grid-auto-flow: row;
  gap: 1rem;
  background-color: var(--black);
  color: white;
  font-family: var(--lato);
  padding-top: 1rem;
  justify-self: center;
  width: 100vw;
}

.heroImage {
  justify-content: center;
  grid-template-columns: auto;
}

.bottomNav {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 4rem;
}

