.container {
  grid-row: 2/5;
  grid-column: 1/5;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.rulesIntro {
  font-size: 2rem;
  margin-bottom: 2rem;
  border-width: 2px;
  background-color: var(--black);
  color: var(--offwhite);
  border-color: var(--offwhite);
  border-style: solid;
  padding: 0 1rem 0 1rem;
  border-radius: 5px;
  box-shadow: -10px 10px 0 -3px var(--black), -10px 10px var(--blue),
  -20px 20px 0 -3px var(--black), -20px 20px var(--yellow),
  -30px 30px 0 -3px var(--black), -30px 30px var(--red);
}
