.collapsedAccordian {
  visibility: hidden;
  position: absolute;
}

.container {
  grid-row: 2/5;
  grid-column: 2/4;
}

details {
  position: relative;
  font-family: var(--zilla);
  color: var(--blue);
  font-size: 3rem;
  box-sizing: border-box;
  transition: all .3s;
}

details[open] {
  /* background-color: var(--offwhite); */
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: var(--offwhite);
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

summary::-webkit-details-marker {
  display: none
}

.controlIcon {
  /* fill: rebeccapurple; */
  transition: .3s ease;
  pointer-events: none;
}

.controlIconClose {
  display: none;
}

details[open] .controlIconClose {
  display: initial;
  transition: .3s ease;
}

details[open] .controlIconExpand {
  display: none;
}
