/* Position and sizing of burger button */
.bm-burger-button {
  width: 2rem;
  height: 2rem;
  grid-column: 2/3;
  right: 1rem;
  top: 1rem;
  text-align: right;
  grid-row: 1;
  position: absolute;
  color: var(--offwhite);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--offwhite);
  border-radius: 5px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--yellow);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
  position: relative;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--yellow);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--black);
  padding: 2.5rem 1.5rem 0;
  font-size: 3rem;
  width: 100%;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--offwhite);
  height: 100%;
  padding-top: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

@media (maxwidth: 700px) {
  .bm-item-list .navItem {
    font-size: 4rem;
  }
  .bm-item-list .navIcon{
    justify-self: center;
  }
}

/* Individual item */


/* Styling of overlay
.bm-overlay {
  background: var(--black);
  width: 50%;
} */
