.navwrapper {
  display: inline-grid;
  grid-row: 1;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-column: 1/9;
  background-color: var(--black);
  padding: 0;
  margin: 0;
  text-transform: uppercase; 
   /* border-bottom: 2px solid white; */
}

/* @media (max-width: 768px) {
  position: sticky;
  height: 8vh;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}} */

.heroLogo {
  grid-column: 2/3;
  height: 8rem;
  width: 8rem;
  justify-self: center;
}

.navItem {
  text-decoration: none;
  color: var(--offwhite);
  margin-top: 2rem;
  transition: all 250ms ease-in;
  font-family: var(--lato);
  font-size: 2rem;
  opacity: 100%;
  justify-self: center;
}

.navItem:hover {
  transform: scale(1.2);
  color: var(--yellow);
}


.toggle {
  display: none;
  height: 100%;
  cursor: pointer;
  padding: 0;
}

.burgerOpen {
  display: none;
}

@media (max-width: 480px) {
  .toggle {
    display: inline-flex;
    color: var(--offwhite);
  }
}
@media only screen and (min-width: 480px) {
.navBox {
  display: grid;
  grid-row: inherit;
  grid-auto-flow: column;
  grid-column: 5/8;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}}

@media only screen and (max-width: 480px) {
  .navBox {
    background-color: var(--black);
    opacity: 95%;
    transition: all 0.2s ease-in;
    left: 0;
    z-index: 20;
    

  }
}

@media only screen and (max-width: 480px) {
  .navBoxOpen {
    composes: navBox;
    left: -100%;
    z-index: 20;
    
    

  }
}
/* .hamburger {
  transform: ${props => (props.open ? "rotate(-45deg)" : "inherit")};

  ::before,
  ::after {
    width: 30px;
    height: 3px;
    background-color: #111;
    content: "";
    position: absolute;
    transition: all 0.3s linear;
  }

.hamburger 
  ::before 
    transform: ${props =>
      props.open ? "rotate(-90deg) translate(-10px, 0px)" : "rotate(0deg)"};
    top: -10px;
  },

  ::after {
    opacity: ${props => (props.open ? "0" : "1")};
    transform: ${props => (props.open ? "rotate(90deg) " : "rotate(0deg)")};
    top: 10px;
  } */
