.ruleBrief {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 600;
  padding-bottom: .5rem;
}

.ruleCard {
  margin-top: 0.5rem;
  padding: 0.5rem;
}


.ruleDesc {
  color: var(--black);
  font-weight: 300;
  font-size: 1rem;
  font-family: var(--lato);
}

ol {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.category {
  font-size: 1.6rem;
  align-items: center;
  width: 100%;
  justify-content: left;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--zilla);
  color: var(--blue);
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}

@media (minwidth: 540px) {
  .category {
    font-size: 3rem;
  }
}

.collapsedAccordian {
  visibility: hidden;
  position: absolute;
}

/* details[open] {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  transform-origin: top center;
	transform: rotate(0.1deg);
} */

summary:focus {
  outline: none;
}

summary[open]::-webkit-details-marker {
  color: var(--yellow);
}

.controlIconClose {
  display: none;
}

details[open] {
  box-shadow: -7.5px 7.5px 0 -3px var(--blue);
  border-radius: 7.5px;
  border-width: 2px;
  margin-bottom: 1rem;
}

details[open] .controlIconClose {
  display: initial;
  transition: 0.3s ease;
}

details[open] .controlIconExpand {
  display: none;
}

details[open] > summary::-webkit-details-marker {
  color: var(--yellow);
}
