.ruleBrief {
  font-size: 1rem;
  margin: 0;
}

.ruleCard {
  margin-top: .5rem;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--yellow);
  border-style: solid;
  padding: .5rem;

}

.ruleDesc {
  color: var(--offwhite);
  font-weight: 300;
  font-size: 1rem;
  font-family: var(--lato);
}

ol {
  margin-block-start: 0;
  padding-inline-start: 0;
}


.category {
  font-size: 1.6rem;
  align-items: center;
  width: 100%;
  justify-content: left;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--zilla);
  color: var(--blue);
  box-sizing: border-box;
  padding-bottom: .25rem;
}

@media (minWidth: 540px){
  .category{
    font-size: 3rem;
  }
}

.collapsedAccordian {
  visibility: hidden;
  position: absolute;
}

/* details[open] {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  transform-origin: top center;
	transform: rotate(0.1deg);
} */

summary:focus {
  outline: none;
}

summary[open]::-webkit-details-marker{
  color: var(--yellow);
}


.controlIconClose {
  display: none;
}

details[open] .controlIconClose {
  display: initial;
  transition: 0.3s ease;
}

details[open] .controlIconExpand {
  display: none;
}

details[open] > summary::-webkit-details-marker{
  color: var(--yellow)
}