@import url('https://fonts.googleapis.com/css2?family=Lato&family=Zilla+Slab:wght@600&display=swap');

:root {
  --lato :'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --zilla :'Zilla Slab', serif;
  --blue : #0491D7;
  --yellow : #FEAE25;
  --red : #E91929;
  --black : #1f2022;
  --offwhite : #ECF0F1;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--offwhite);
  height: 100%;
  width: 100%;

}

img {
  margin: 0;
  padding: 0;
}