@import url('https://fonts.googleapis.com/css2?family=Lato&family=Zilla+Slab:wght@600&display=swap');

:root {
  --lato :'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --zilla :'Zilla Slab', serif;
  --blue : #0491D7;
  --yellow : #FEAE25;
  --red : #E91929;
  --black : #171717;
  --blackfade : rgb(23, 23, 23, .55);
  --offwhite: #f0eff0;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

body {
  background-color: var(--offwhite);
  min-height: 100%;

  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  margin: 0;
  padding: 0;
}

