.heroBox {
  grid-row: 2/4;
  grid-column: 1/5;
  display: flex;
  width: 100%;
  justify-self: center;
  margin: 0;
  height: 308px;
  margin-block-end: 0;
  margin-inline-end: 0;
  box-shadow: 0 5px var(--blue), 0 10px var(--yellow), 0 15px var(--red);
}

/* adjusting different photo positions for each page, so you don't just see dog feet */
.heroBoxRules {
  background-position: top;
}

.pageHeader {
  display: flex;
  justify-self: left;
  align-self: flex-end;
  margin-left: 3rem;
  text-align: left;
  width: fit-content;
  height: fit-content;
  font-size: 3rem;
  font-family: var(--zilla);
  color: var(--offwhite);
  text-shadow: 4px 3px var(--black);
  word-break: normal;
}

@media (max-width: 475px) {
  .pageHeader {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  .heroBox {
    max-height: 200px;
  }
}
