.slideGrid {
  /* grid-template-columns: subgrid;
  grid-template-rows: subgrid; */
  grid-row: 2;
  grid-column: 1/5;
  z-index: 0;
  height: fit-content;
  margin: 0 5px 0 5px;
  padding: 0;;
  overflow-x: hidden;
  position: static;

}

.carouselWrapper {
  height: inherit;
  overflow-x: hidden;

}

.first .second .third .fourth .fifth .sixth{
  height: 50vh;
}


