.slideGrid {
  /* grid-template-columns: subgrid;
  grid-template-rows: subgrid; */
  grid-row: 2;
  grid-column: 1/5;
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  object-fit:inherit;
  object-position: -80% 0;
}

.slide .trayClass .wrapClass .innerClass .carouselWrapper {
  height: inherit;
  object-fit: contain;
  grid-row: 2;

}




