.slideGrid{

  /* grid-template-columns: subgrid;
  grid-template-rows: subgrid; */
grid-row: 4;
grid-column: 2/9;
}

.carouselWrapper {
  height: auto;
}

.first {
  border-color: black;
  border-style: solid;
}

.second {
  border-color: black;
  border-style: solid;
}

.third {
  border-color: black;
  border-style: solid;
}

.fourth {
  border-color: black;
  border-style: solid;
}

.fifth {
  border-color: black;
  border-style: solid;
}

.sixth {
  border-color: black;
  border-style: solid;
}
